body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f5f5f5;
    text-align:center;
}

h1{
    color:#2E7D32;
    margin-top:120px;
    font-size:50px;
}

p{
    font-size:22px;
}

@keyframes floating{
0%{transform:translateY(0);}
50%{transform:translateY(-10px);}
100%{transform:translateY(0);}
}

.float{
animation:floating 4s ease-in-out infinite;
}